.navbar{
    height: 3rem;
    background: white;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 3px -2px 14px -2px #000;
    width: 100%;
    z-index: 20;
    padding-right: 3rem;
    padding-left: 3rem;
    flex-direction: row;
    align-items: center;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar h2{
    flex: 20;
}
.cart-button{
    position: relative;
    flex: 1 1;
    display: flex;
    font-size: 1.2rem;
    justify-content: flex-end;
}
.cart-button svg{
    align-self: center;
}
.cart-count{
    position: absolute;
    font-weight: bold;
    color: #000000;
    position: absolute;
    background: #0bff34;
    border-radius: 21rem;
    font-size: 10px;
    padding: 5px 6px 5px 5px;
    /* left: 68px; */
    top: 9px;
    right: 3px;
}
.cart-button:hover{
    cursor: pointer;
}